<!DOCTYPE html>
<html>
<head>
  <title>StaticDocs</title>
  <%= stylesheet_link_tag    "static_docs/application", :media => "all" %>
  <%= javascript_include_tag "static_docs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
